.btn {
  align-items: center;
  appearance: none;
  background-color: var(--btn-default-foreground);
  border-radius: 4px;
  border-width: 0;
  box-sizing: border-box;
  color: var(--btn-default);
  outline: 0.15rem solid var(--btn-default);
  cursor: pointer;
  display: inline-flex;
  justify-content: center;
  line-height: 1;
  list-style: none;
  overflow: hidden;
  padding: 0.5rem 1rem;
  position: relative;
  text-align: left;
  text-decoration: none;
  transition: box-shadow 0.15s, transform 0.15s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  will-change: box-shadow, transform;
}

.btn:hover {
  color: var(--btn-default-foreground);
  background-color: var(--btn-default);
  outline-color: var(--btn-default-foreground);
}

.btn:active {
  transform: scale(0.95);
}

.btn-mask-circle {
  all: unset;
  width: 100px;
  height: 30px;
  font-size: 16px;
  background: transparent;
  border: none;
  position: relative;
  color: #f0f0f0;
  cursor: pointer;
  z-index: 1;
  padding: 10px 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  white-space: nowrap;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.btn-mask-circle::after,
.btn-mask-circle::before {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: -99999;
  transition: all 0.4s;
}

.btn-mask-circle::before {
  transform: translate(0%, 0%);
  width: 100%;
  height: 100%;
  background: #28282d;
  border-radius: 10px;
}

.btn-mask-circle::after {
  transform: translate(10px, 10px);
  width: 35px;
  height: 35px;
  background: #ffffff15;
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border-radius: 50px;
}

.btn-mask-circle:hover::before {
  transform: translate(5%, 20%);
  width: 110%;
  height: 110%;
}

.btn-mask-circle:hover::after {
  border-radius: 10px;
  transform: translate(0, 0);
  width: 100%;
  height: 100%;
}

.btn-mask-circle:active::after {
  transition: 0s;
  transform: translate(0, 5%);
}

/* CSS */
.btn-overlap {
  font-size: 16px;
  letter-spacing: 2px;
  text-decoration: none;
  text-transform: uppercase;
  color: var(--btn-default-overlap);
  background-color: var(--btn-default-overlap-foreground);
  cursor: pointer;
  border: 3px solid;
  padding: 0.25em 0.5em;
  box-shadow: 1px 1px 0px 0px, 2px 2px 0px 0px, 3px 3px 0px 0px, 4px 4px 0px 0px,
    5px 5px 0px 0px;
  position: relative;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.btn-overlap:active {
  box-shadow: 0px 0px 0px 0px;
  transform: scale(0.95);
  transition: 0.3s;
}

@media (min-width: 768px) {
  .btn-overlap {
    padding: 0.25em 0.75em;
  }
}
