@-webkit-keyframes animate-svg-stroke-1 {
  0% {
    stroke-dashoffset: 671.281494140625px;
    stroke-dasharray: 671.281494140625px;
  }

  100% {
    stroke-dashoffset: 0;
    stroke-dasharray: 671.281494140625px;
  }
}

@keyframes animate-svg-stroke-1 {
  0% {
    stroke-dashoffset: 671.281494140625px;
    stroke-dasharray: 671.281494140625px;
  }

  100% {
    stroke-dashoffset: 0;
    stroke-dasharray: 671.281494140625px;
  }
}

.svg-elem-1 {
  -webkit-animation: animate-svg-stroke-1 1s cubic-bezier(0.47, 0, 0.745, 0.715)
    0.5s both;
  animation: animate-svg-stroke-1 1s cubic-bezier(0.47, 0, 0.745, 0.715) 0.5s
    both;
}

@-webkit-keyframes animate-svg-stroke-2 {
  0% {
    stroke-dashoffset: 141.19366455078125px;
    stroke-dasharray: 141.19366455078125px;
  }

  100% {
    stroke-dashoffset: 0;
    stroke-dasharray: 141.19366455078125px;
  }
}

@keyframes animate-svg-stroke-2 {
  0% {
    stroke-dashoffset: 141.19366455078125px;
    stroke-dasharray: 141.19366455078125px;
  }

  100% {
    stroke-dashoffset: 0;
    stroke-dasharray: 141.19366455078125px;
  }
}

.svg-elem-2 {
  -webkit-animation: animate-svg-stroke-2 1s cubic-bezier(0.47, 0, 0.745, 0.715)
    1s both;
  animation: animate-svg-stroke-2 1s cubic-bezier(0.47, 0, 0.745, 0.715) 1s both;
}

@-webkit-keyframes animate-svg-stroke-3 {
  0% {
    stroke-dashoffset: 544.4208374023438px;
    stroke-dasharray: 544.4208374023438px;
  }

  100% {
    stroke-dashoffset: 0;
    stroke-dasharray: 544.4208374023438px;
  }
}

@keyframes animate-svg-stroke-3 {
  0% {
    stroke-dashoffset: 544.4208374023438px;
    stroke-dasharray: 544.4208374023438px;
  }

  100% {
    stroke-dashoffset: 0;
    stroke-dasharray: 544.4208374023438px;
  }
}

.svg-elem-3 {
  -webkit-animation: animate-svg-stroke-3 1s cubic-bezier(0.47, 0, 0.745, 0.715)
    1.5s both;
  animation: animate-svg-stroke-3 1s cubic-bezier(0.47, 0, 0.745, 0.715) 1.5s
    both;
}
